@model SeyahatBlogSitesi.Models.Siniflar.SeyahatRehberi
@{
    ViewBag.Title = "SeyahatGetir";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm("RehberGuncelle", "Admin", FormMethod.Post))
{
    <form class="form-group" method="post">
        @Html.LabelFor(x => x.RehberID)
        @Html.TextBoxFor(x => x.RehberID, new { @class = "form-control", @readonly = "readonly", @style = "border:groove" })
        <br />

        @Html.LabelFor(x => x.Rehber)
        @Html.TextBoxFor(x => x.Rehber, new { @class = "form-control", @style = "border:groove" })
        <br />

        @Html.LabelFor(x => x.Aciklama)
        @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control", @style = "border:groove" })
        <br />

        <button class="btn btn-primary"> Güncelle</button>
    </form>
}