@using SeyahatBlogSitesi.Models.Siniflar
@using PagedList
@using PagedList.Mvc
@model PagedList.PagedList<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<body>
    <nav class="site-nav mt-3">
        <div class="container">

            @Html.Action("Partial1", "Blog")

        </div>
    </nav>


    <div class="hero overlay">
        <div class="img-bg rellax">
            <img src="~/untree.co-sterial/images/hero_2.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="container">
            <div class="row align-items-center justify-content-start">
                <div>
                    <div class="col-lg-6 mx-auto text-center">
                        <h2 class="heading" data-aos="fade-up">“Gittiğin yerlerden  </h2>
                        <p class="mb-4" data-aos="fade-up">
                            sadece yeni hatıralar al ve sadece ayak izlerini bırak.” <br />
                            <i style="float:right">Chief Seattle</i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">

            <div class="row align-items-stretch">
                @foreach (var x in Model)
                {
                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="media-entry">
                            <a href="index.html">
                                <img src="@x.BlogImage" alt="Image" class="img-fluid" style="width:350px; height:300px;">
                            </a>
                            <div class="bg-white m-body">
                                <span class="date">@x.Tarih</span>
                                <h3><a href="/Blog/BlogDetay/@x.ID">@x.Baslik</a></h3>
                                <p>@x.Giris.Substring(0, 100)...</p>


                                <a href="/Blog/BlogDetay/@x.ID" class="more d-flex align-items-center float-start">
                                    <span class="label">Devamını oku </span>
                                    <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="pagination" style="justify-content:center">
                @Html.PagedListPager(Model, sayfa => Url.Action("Index", new { sayfa }), new PagedListRenderOptions { LiElementClasses = new List<string> { "page-link" } })
            </div>
        </div>
    </div>
</body>